<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81b0a2">  <td>20/03/03 14:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.checkCurrentUrl()[pri:0, instance:testCases.EndToEndTest@a1f72f5]">checkCurrentUrl</td> 
  <td>main@313082880</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/03/03 14:59:11</td>   <td>7169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.endToEndRequest()[pri:0, instance:testCases.EndToEndTest@a1f72f5]">endToEndRequest</td> 
  <td>main@313082880</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/03/03 14:59:47</td>   <td>43264</td> <td title="&lt;&lt;EndToEndTest.terminate()[pri:0, instance:testCases.EndToEndTest@a1f72f5]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313082880</td>   <td></td> </tr>
</table>
